<header>
  <nav>
    <div>
      <%= link_to root_path do %>
        <%= image_tag "logo-oral-branca.svg", alt: "Logo OralCenter Branca" %>
      <% end %>
      <%= link_to "Agende sua avaliação", "https://wa.me/5538992185111", class: "agende-consulta botao-nav", target: "blank" %>
    </div>
    <img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e" alt="icon navbar" class="toggler-navbar">
    <ul>
      <li class="nav-link"><%= link_to "Tratamentos", "/#servicos" %></li>
      <li class="nav-link"><%= link_to "Clínicas", "/#clinicas" %></li>
      <li class="nav-link"><%= link_to "Sobre Nós", "/#compromisso" %></li>
      <li class="nav-link"><%= link_to "Blog", "/#empreenda" %></li>
      <li class="nav-link agende-consulta">
        <%= link_to "SEJA UM FRANQUEADO", franqueado_path %>
      </li>
    </ul>
  </nav>
</header>
