   <section>
      <div style="display: flex; align-items: center; justify-content: center; text-align: center;">
      <%= image_tag "implante.png", alt: "banner-servico", crop: :thumb, gravity: :face, class: "imagem-banner-servico" %>
      </div>
      <div class="servicos pagina-servico">
              <ul>
        <li class="servico">
          <%= link_to "Implantes <br> Dentários".html_safe, "/implantes#titulo" %>
        </li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">
          <%= link_to "Prótese <br> Dentária".html_safe, "/protese#titulo" %>
        </li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">
          <%= link_to "Harmonização <br> Facial".html_safe, "/harmonizacao#titulo" %>
        </li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">          <%= link_to "Ortodontia".html_safe, "/ortodontia#titulo" %></li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">          <%= link_to "Odontopediatria".html_safe, "/odontopediatria#titulo" %></li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">          <%= link_to "Endodontia".html_safe, "/endodontia#titulo", class: "active" %></li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">          <%= link_to "Cirurgia".html_safe, "/cirurgia#titulo" %></li>
      </ul>
      </div>
    </section>

    <section class="sobre-servico">
      <div>
        <h1>
          Endodontia
        </h1>
        <%= link_to "AGENDE SUA AVALIAÇÃO", "https://wa.me/553841412002", target: "blank", id: "titulo" %>
      </div>
      <div class="textos-servico">
        <p>
          A Endodontia é uma especialidade da odontologia que se concentra no tratamento da parte interna dos dentes, conhecida como polpa dentária. O objetivo principal da Endodontia é salvar dentes que foram afetados por lesões, infecções ou cáries profundas que atingiram a polpa. <br> <br>

          O procedimento mais comum realizado pelos endodontistas é o tratamento de canal, também conhecido como tratamento endodôntico. Este procedimento é necessário quando a polpa do dente está inflamada, infectada ou danificada. O tratamento de canal envolve a remoção cuidadosa da polpa afetada, limpeza, desinfecção e selamento do espaço vazio resultante. <br><br>
        </p>
        <p>
          O tratamento de canal não apenas alivia a dor e a sensibilidade associadas a problemas na polpa, mas também impede que a infecção se espalhe para outras áreas da boca. Ao salvar o dente comprometido, a Endodontia evita a necessidade de extração, preservando a estrutura dentária e sua função. <br> <br>

          O procedimento de tratamento de canal é realizado em várias etapas: <br> <br>

          Acesso à Polpa: O endodontista faz uma pequena abertura no dente para acessar a polpa. <br> <br>

          Remoção da Polpa: A polpa infectada ou inflamada é removida cuidadosamente.<br> <br>

          Limpeza e Desinfecção: O espaço vazio é limpo e desinfetado para remover quaisquer resíduos ou bactérias restantes.<br> <br>
        </p>
        <p>
          Obturação: O espaço vazio é preenchido com um material de obturação permanente para selar o dente e evitar a entrada de bactérias.<br> <br>

          Restauração: Após o tratamento de canal, o dente é frequentemente restaurado com uma coroa para restaurar sua força e função.<br> <br>

          A Endodontia também inclui tratamentos de canal de dentes decíduos, ou dentes de leite, quando necessário para preservar a saúde bucal das crianças.<br> <br>

          Ao perceber sintomas como dor intensa, sensibilidade prolongada ao calor ou frio, inchaço na gengiva ou mudanças na cor do dente, é importante procurar um endodontista. A detecção precoce e o tratamento adequado podem salvar o dente e aliviar o desconforto.<br>
        </p>
      </div>
    </section>

    <section>
      <%= render "pages/locais" %>
    </section>

    <section class="blog">
      <div>
      <% valor = 0 %>
      <% @posts.each do |post| %>
        <div class="post">
          <%= cl_image_tag post.img_url.key, alt: "post-#{valor}" %>
          <h4><%= post.title %></h4>
          <p><%= post.body.split(/\\n/).join("<br />").html_safe %></p>
          <%= link_to "Continuar Lendo", post_path(post), class: "continuar" %>
        </div>
        <% valor += 1 %>
        <% end %>
      </div>
      <span class="todos"><%= link_to "Ver Todos", posts_path %></span>
    </section>
