   <section>
      <div style="display: flex; align-items: center; justify-content: center; text-align: center;">
      <%= image_tag "implante.png", alt: "banner-servico", crop: :thumb, gravity: :face, class: "imagem-banner-servico" %>
      </div>
      <div class="servicos pagina-servico">
              <ul>
        <li class="servico">
          <%= link_to "Implantes <br> Dentários".html_safe, "/implantes#titulo" %>
        </li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">
          <%= link_to "Prótese <br> Dentária".html_safe, "/protese#titulo" %>
        </li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">
          <%= link_to "Harmonização <br> Facial".html_safe, "/harmonizacao#titulo", class: "active" %>
        </li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">          <%= link_to "Ortodontia".html_safe, "/ortodontia#titulo" %></li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">          <%= link_to "Odontopediatria".html_safe, "/odontopediatria#titulo" %></li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">          <%= link_to "Endodontia".html_safe, "/endodontia#titulo" %></li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">          <%= link_to "Cirurgia".html_safe, "/cirurgia#titulo" %></li>
      </ul>
      </div>
    </section>

    <section class="sobre-servico">
      <div>
        <h1>
          Harmonização <br>
          Facial
        </h1>
        <%= link_to "AGENDE SUA AVALIAÇÃO", "https://wa.me/553841412002", target: "blank", id: "titulo" %>
      </div>
      <div class="textos-servico">
        <p>
          A harmonização facial é um procedimento estético inovador que visa realçar a beleza natural do rosto, promovendo o equilíbrio estético e a simetria facial. Muito mais do que apenas um conjunto de procedimentos, a harmonização facial é uma abordagem completa que leva em consideração as características únicas de cada indivíduo, respeitando sua fisionomia e personalidade. <br> <br>

          Através da harmonização facial, é possível conquistar resultados incríveis sem a necessidade de cirurgias invasivas. O objetivo principal desse procedimento é destacar os traços mais atraentes do rosto, corrigindo imperfeições sutis e restaurando a aparência jovial de forma natural e gradual. O processo é conduzido por profissionais altamente capacitados, como dentistas especializados em estética facial e cirurgiões plásticos, que possuem profundo conhecimento das estruturas faciais e suas interações. <br> <br>
        </p>
        <p>
          Os pilares da harmonização facial incluem uma variedade de técnicas e tratamentos, que podem ser personalizados de acordo com as necessidades de cada paciente. <br>

          Um dos aspectos mais importantes da harmonização facial é a consulta inicial com um profissional qualificado. Durante essa consulta, o profissional irá avaliar a estrutura facial do paciente, ouvir suas preocupações e desejos estéticos, e criar um plano de tratamento personalizado. É fundamental que haja uma comunicação aberta e transparente para que os resultados desejados possam ser alcançados com segurança e eficácia.
        </p>
        <p>
          É importante ressaltar que a harmonização facial não tem o objetivo de criar um padrão único de beleza, mas sim de realçar a individualidade de cada pessoa. A intenção é respeitar as características faciais únicas e acentuar os pontos fortes de maneira equilibrada.
        </p>
      </div>
    </section>

    <section>
      <%= render "pages/locais" %>
    </section>

    <section class="blog">
      <div>
      <% valor = 0 %>
      <% @posts.each do |post| %>
        <div class="post">
          <%= cl_image_tag post.img_url.key, alt: "post-#{valor}" %>
          <h4><%= post.title %></h4>
          <p><%= post.body.split(/\\n/).join("<br />").html_safe %></p>
          <%= link_to "Continuar Lendo", post_path(post), class: "continuar" %>
        </div>
        <% valor += 1 %>
        <% end %>
      </div>
      <span class="todos"><%= link_to "Ver Todos", posts_path %></span>
    </section>
