   <section>
      <div style="display: flex; align-items: center; justify-content: center; text-align: center;">
      <%= image_tag "implante.png", alt: "banner-servico", crop: :thumb, gravity: :face, class: "imagem-banner-servico" %>
      </div>
      <div class="servicos pagina-servico">
              <ul>
        <li class="servico">
          <%= link_to "Implantes <br> Dentários".html_safe, "/implantes#titulo", class: "active" %>
        </li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">
          <%= link_to "Prótese <br> Dentária".html_safe, "/protese#titulo" %>
        </li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">
          <%= link_to "Harmonização <br> Facial".html_safe, "/harmonizacao#titulo" %>
        </li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">          <%= link_to "Ortodontia".html_safe, "/ortodontia#titulo" %></li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">          <%= link_to "Odontopediatria".html_safe, "/odontopediatria#titulo" %></li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">          <%= link_to "Endodontia".html_safe, "/endodontia#titulo" %></li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">          <%= link_to "Cirurgia".html_safe, "/cirurgia#titulo" %></li>
      </ul>
      </div>
    </section>

    <section class="sobre-servico">
      <div>
        <h1>
          Implantes <br />
          Dentários
        </h1>
        <%= link_to "AGENDE SUA AVALIAÇÃO", "https://wa.me/553841412002", target: "blank", id: "titulo" %>
      </div>
      <div class="textos-servico">
        <p>
          O implante dentário é uma solução moderna e eficaz para a substituição
          de dentes perdidos. Consiste em um pequeno parafuso de titânio que é
          cirurgicamente inserido no osso maxilar, funcionando como uma raiz
          artificial. Esse processo é conhecido como osseointegração, no qual o
          osso se funde ao implante, proporcionando uma base sólida e estável
          para a colocação do dente artificial.
        </p>
        <p>
          Um dos principais benefícios do implante dentário é a sua capacidade
          de restaurar a função mastigatória e estética de forma muito próxima
          aos dentes naturais. O implante é projetado para se integrar
          perfeitamente ao sorriso e à arcada dentária, oferecendo uma aparência
          natural e harmoniosa.
        </p>
        <p>
          Além disso, os implantes dentários são extremamente duradouros e podem
          durar muitos anos, desde que sejam realizados cuidados adequados de
          higiene bucal e visitas regulares ao dentista. Comparados a outras
          opções de substituição de dentes, como dentaduras removíveis ou pontes
          fixas, os implantes oferecem uma solução mais permanente e
          confortável.
        </p>
      </div>
    </section>

    <section>
      <%= render "pages/locais" %>
    </section>

    <section class="blog">
      <div>
      <% valor = 0 %>
      <% @posts.each do |post| %>
        <div class="post">
          <%= cl_image_tag post.img_url.key, alt: "post-#{valor}" %>
          <h4><%= post.title %></h4>
          <p><%= post.body.split(/\\n/).join("<br />").html_safe %></p>
          <%= link_to "Continuar Lendo", post_path(post), class: "continuar" %>
        </div>
        <% valor += 1 %>
        <% end %>
      </div>
      <span class="todos"><%= link_to "Ver Todos", posts_path %></span>
    </section>
