   <section>
      <div style="display: flex; align-items: center; justify-content: center; text-align: center;">
      <%= image_tag "implante.png", alt: "banner-servico", crop: :thumb, gravity: :face, class: "imagem-banner-servico" %>
      </div>
      <div class="servicos pagina-servico">
              <ul>
        <li class="servico">
          <%= link_to "Implantes <br> Dentários".html_safe, "/implantes#titulo" %>
        </li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">
          <%= link_to "Prótese <br> Dentária".html_safe, "/protese#titulo" %>
        </li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">
          <%= link_to "Harmonização <br> Facial".html_safe, "/harmonizacao#titulo" %>
        </li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">          <%= link_to "Ortodontia".html_safe, "/ortodontia#titulo" %></li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">          <%= link_to "Odontopediatria".html_safe, "/odontopediatria#titulo", class: "active" %></li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">          <%= link_to "Endodontia".html_safe, "/endodontia#titulo" %></li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3"
          height="65"
          viewBox="0 0 3 65"
          fill="none"
        >
          <line
            x1="1.5"
            y1="1"
            x2="1.5"
            y2="64"
            stroke="#CCCCCC"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        <li class="servico">          <%= link_to "Cirurgia".html_safe, "/cirurgia#titulo" %></li>
      </ul>
      </div>
    </section>

    <section class="sobre-servico">
      <div>
        <h1>
          Odontopediatria
        </h1>
        <%= link_to "AGENDE SUA AVALIAÇÃO", "https://wa.me/553841412002", target: "blank", id: "titulo" %>
      </div>
      <div class="textos-servico">
        <p>
          A Odontopediatria é uma área da odontologia que se concentra no cuidado odontológico de crianças, desde bebês até adolescentes. É uma especialidade crucial para garantir a saúde bucal e o desenvolvimento oral saudável das crianças desde os primeiros anos de vida. <br><br>

Os dentes de leite, também conhecidos como dentes decíduos, desempenham um papel fundamental no crescimento correto dos maxilares e na futura saúde bucal das crianças. A Odontopediatria se preocupa em criar uma experiência positiva e sem medo para os pequenos pacientes, ajudando-os a estabelecer hábitos de higiene oral eficazes desde cedo. <br><br>
        </p>
        <p>
          Os odontopediatras são profissionais treinados para lidar com as necessidades específicas das crianças. Eles compreendem a importância de abordar o tratamento de maneira gentil e tranquilizadora, adaptando suas abordagens conforme a idade e a personalidade de cada criança. <br><br>

Os serviços oferecidos pela Odontopediatria incluem: <br>

Aconselhamento para Pais: Orientações para pais sobre como cuidar da higiene bucal de seus filhos em casa, desde a escolha correta da escova de dentes até a importância de uma dieta saudável. <br><br>

Prevenção e Tratamento de Cáries: Monitoramento regular da saúde bucal da criança, aplicação de flúor para fortalecer os dentes e tratamento de cáries, se necessário. <br><br>

Selantes Dentários: Aplicação de selantes nas superfícies mastigatórias dos dentes posteriores para ajudar a prevenir cáries. <br><br>

Orientação para a Transição: Ajuda na transição dos dentes de leite para os permanentes, acompanhando o desenvolvimento da dentição. <br><br>

Tratamento Comportamental: Técnicas para acalmar as ansiedades infantis e tornar as visitas ao dentista mais confortáveis. <br><br>

Odontopediatria Hospitalar: Tratamento odontológico para crianças com necessidades especiais ou em ambiente hospitalar, se necessário. <br> <br>
        </p>
        <p>
          Primeira Visita Odontológica: Introduzir as crianças ao consultório odontológico de forma positiva e educativa, estabelecendo confiança desde cedo. <br><br>

O cuidado odontológico durante a infância não apenas promove a saúde bucal, mas também contribui para a saúde geral da criança. Além disso, ajuda a criar uma base sólida para hábitos de higiene oral ao longo da vida. A Odontopediatria se esforça para garantir que as crianças desenvolvam uma atitude positiva em relação à visita ao dentista e compreendam a importância de cuidar de seus sorrisos.


        </p>
      </div>
    </section>

    <section>
      <%= render "pages/locais" %>
    </section>

    <section class="blog">
      <div>
      <% valor = 0 %>
      <% @posts.each do |post| %>
        <div class="post">
          <%= cl_image_tag post.img_url.key, alt: "post-#{valor}" %>
          <h4><%= post.title %></h4>
          <p><%= post.body.split(/\\n/).join("<br />").html_safe %></p>
          <%= link_to "Continuar Lendo", post_path(post), class: "continuar" %>
        </div>
        <% valor += 1 %>
        <% end %>
      </div>
      <span class="todos"><%= link_to "Ver Todos", posts_path %></span>
    </section>
