<!DOCTYPE html>
<html>
  <head>
  <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TLX5HTGK');</script>
    <!-- End Google Tag Manager -->
    <title>Oral Centter - Clínica Odontológica - Oral Centter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag 'logo.png' %>

    <link rel="profile" href="https://gmpg.org/xfn/11" />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <link rel="canonical" href="https://oralcentter.com.br/" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Oral Centter - Clínica Odontológica - Oral Centter"
    />
    <meta
      property="og:description"
      content="Faça parte dessa família! Previous Next Tudo que você precisa em um único lugar Implantes Dentários Prótese Dentária Harmonização Facial Ortodontia Odontopediatria Periodontia Endodontia Cirurgia A OralCentter surgiu através da união de propósitos de dois colegas que após anos trabalhando juntos, vimos a disparidade e condições precárias que os tratamentos odontológicos eram oferecidos ao público … Oral Centter – Clínica Odontológica Leia mais »"
    />
    <meta property="og:url" content="https://oralcentter.com.br/" />
    <meta property="og:site_name" content="Oral Centter" />
    <meta
      property="article:modified_time"
      content="2023-04-18T22:15:41+00:00"
    />
    <meta
      property="og:image"
      content="https://oralcentter.com.br/Grupo-18.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:label1" content="Est. tempo de leitura" />
    <meta name="twitter:data1" content="6 minutos" />
    <script
      type="text/javascript"
      id="www-widgetapi-script"
      src="https://www.youtube.com/s/player/2363d0d2/www-widgetapi.vflset/www-widgetapi.js"
      async=""
    ></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script type="application/ld+json" class="yoast-schema-graph">
      {
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": "WebSite",
            "@id": "https://oralcentter.com.br/#website",
            "url": "https://oralcentter.com.br/",
            "name": "Oral Centter",
            "description": "Clínica Odontológica",
            "potentialAction": [
              {
                "@type": "SearchAction",
                "target": {
                  "@type": "EntryPoint",
                  "urlTemplate": "https://oralcentter.com.br/?s={search_term_string}"
                },
                "query-input": "required name=search_term_string"
              }
            ],
            "inLanguage": "pt-BR"
          },
          {
            "@type": "ImageObject",
            "@id": "https://oralcentter.com.br/#primaryimage",
            "inLanguage": "pt-BR",
            "url": "https://oralcentter.com.br/wp-content/uploads/2021/12/Grupo-18.png",
            "contentUrl": "https://oralcentter.com.br/wp-content/uploads/2021/12/Grupo-18.png",
            "width": 76,
            "height": 102
          },
          {
            "@type": "WebPage",
            "@id": "https://oralcentter.com.br/#webpage",
            "url": "https://oralcentter.com.br/",
            "name": "Oral Centter - Clínica Odontológica - Oral Centter",
            "isPartOf": { "@id": "https://oralcentter.com.br/#website" },
            "primaryImageOfPage": {
              "@id": "https://oralcentter.com.br/#primaryimage"
            },
            "datePublished": "2021-12-14T14:21:17+00:00",
            "dateModified": "2023-04-18T22:15:41+00:00",
            "breadcrumb": { "@id": "https://oralcentter.com.br/#breadcrumb" },
            "inLanguage": "pt-BR",
            "potentialAction": [
              {
                "@type": "ReadAction",
                "target": ["https://oralcentter.com.br/"]
              }
            ]
          },
          {
            "@type": "BreadcrumbList",
            "@id": "https://oralcentter.com.br/#breadcrumb",
            "itemListElement": [
              { "@type": "ListItem", "position": 1, "name": "Home" }
            ]
          }
        ]
      }
    </script>
    <meta name="google-site-verification" content="UA-221747591-1" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLX5HTGK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/footer" %>

    <script>
      window.addEventListener("scroll", function () {
        if (document.documentElement.scrollTop > 400)
          document.querySelector("nav").classList.add("nova-cor"); // > 0 ou outro valor desejado
        else document.querySelector("nav").classList.remove("nova-cor");
      });

      window.addEventListener("click", function () {
        setTimeout(() => {
          if (document.documentElement.scrollTop > 400)
            document.querySelector("nav").classList.add("nova-cor"); // > 0 ou outro valor desejado
          else document.querySelector("nav").classList.remove("nova-cor");
        }, 1500);
      });


    </script>

    <script>
      document.querySelector(".toggler-navbar").addEventListener("click", function() {
        document.querySelector("nav ul").classList.toggle("mostrar-ul")
        document.querySelector("nav").classList.toggle("tirar-bordas")
      })
    </script>

    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/6b6087ea-69fd-4f49-b152-27e1a7626656-loader.js" ></script>
  </body>
</html>
